<%= simple_form_for(@user, :url => @user.new_record? ? create_user_path : update_user_path, :method => :post) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :id , :value => @user.id %>
  <div class="field">
    <%= f.label :name %><%= mark_required(@user, :name) %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><%= mark_required(@user, :email) %><br>
    <%= f.text_field :email %>
  </div>
    <div class="field">
      <%= f.input :role , collection: [["manager" , "manager"] , ["customer","customer"] , ["support_staff" , "support_staff"]]%>
    </div>
  <div class="field">
    <%= f.label :password %><%= mark_required(@user, :password) %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
