<script type="text/javascript">
  $(document).ready(function () {
    $('.datatable').dataTable({
      destroy: true
    });
  });
</script>


<div class="row">
  <div class="col-xs-offset-2 col-xs-6">
    <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
<% end %>

    <h3 class="text-center">Listing Users</h3>
    <table class="table datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.roles.pluck(:name).join(",") %></td>
            <td>
              <%= link_to user_path(user) do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </td>
            <td>
              <%= link_to  edit_user_path(user)  do %>
                  <span class="fa fa-edit"></span>
              <% end %>
            </td>
            <td>
              <%= link_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="glyphicon glyphicon-trash"></i>
              <% end %>            
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New User', new_user_path , :class => "btn btn-default"%>
    </div>
</div>


<br><br><br>

<%# end %>