<script type="text/javascript">
  $(document).ready(function () {
    $('.datatable').dataTable({});
  });
</script>

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>



<%# if can? :read , User %>

<div class="row">
  <div class="col-xs-offset-2 col-xs-6">

    <h3 class="text-center">Listing Users</h3>
    <table class="table datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.roles.pluck(:name).join(",") %></td>
            <td>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'View', user %></li>
                        <li><%= link_to 'Edit', edit_user_path(user) %></li>
                        <li><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                      </ul>
                    </li>
                </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    </div>
</div>
    <%= link_to 'New User', new_user_path %>
<%# end %>
