<div class="row">
	<div class="col-xs-offset-4 col-xs-4">
    <h3>User Details</h3>

		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @user.name %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @user.email %>
		</p>

		<p>
		  <strong>Role:</strong>
		  <%= @user.roles.pluck(:name).join(",")%>
		</p>

		<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-small btn-default" %> 
		<%= link_to 'Back', users_path, class: "btn btn-small btn-default" %>
	</div>
</div>