
<style>
  .highcharts-tooltip span {
    width: 200px !important;
    overflow: auto;
    white-space: normal !important;
  }
</style>

<script type="text/javascript">
  $(document).ready(function () {
  $('.datepicker').datepicker( {
        format: 'dd/mm/yyyy'
       }
  );
  });
</script>


<script>
  $(function () {

    $(document).ready(function () {

      var chart_json = JSON.parse('<%= raw @chart_data.to_json %>');
      var staff_json = JSON.parse('<%= raw @support_staff.to_json %>');

      // Build the chart
      $('#tickets_chart_container').highcharts({
        chart: {
          type: 'column',
          zoomType: 'x'
        },
        title: {
          text: 'Issues'
        },
        credits: {
          enabled: false
        },
        tooltip: {
          useHTML: true,
          formatter: function () {
            return '<b>' + this.point.name + ' : ' + this.point.y + '</b><br><span style="font-size: 10px;"></span>';
          }
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        xAxis:{
          type: 'Staff Members',
          categories: staff_json,
          labels:{
            rotation: -90,
            style: {
              fontSize: '10px',
              fontFamily: 'Verdana, sans-serif'
            }
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Number of Issues'
          }
        },
        series: [{
          name: 'Issues',
          colorByPoint: true,
          data: chart_json
        }]
      });


 var chart_json = JSON.parse('<%= raw @ticket_type_data.to_json %>');
      console.log(chart_json);
      $('#tickets_type_chart_container').highcharts({
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          backgroundColor:'transparent',
          type: 'pie'
        },
        title: {
          text: 'Tickets per ticket type',
          style:{color: '#ffffff'}
        },
        tooltip: {
          useHTML: true,
          formatter: function() {
            return '<b>'+ this.point.name +' : '+ this.point.y * 100 +'%</b><br><span style="font-size: 10px;">'+ this.point.tickets +' tickets</span>';
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %',
              style: {
                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || '#666'
              }
            }
          }
        },
        
        series: [{
          name: 'Issue Type',
          colorByPoint: true,
          data: chart_json
        }]
      });




    });
  });




</script>


<div class="row">
  <div class="col-xs-offset-2 col-xs-3">
    <%= simple_form_for(@filter, :url => filter_charts_tickets_path, :method => :post) do |f| %>
        <%= f.input :from_date, :input_html => {:class => "datepicker"} %><br>
        <%= f.input :to_date, :input_html => {:class => "datepicker"} %><br>
        <div class="text-center">
        <%= f.submit "Filter" , :class => "btn btn-primary" %><br>

         <% end %>
        </div>
  </div>
</div>

<div id="tickets_chart_container" style="min-width: 310px; height: 400px; margin: 0 auto">     </div>
<div id="tickets_type_chart_container" style="min-width: 310px; height: 400px; margin: 0 auto">     </div>

</div>