<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>


<h3 class="text-center"> Tickets</h3>
<div class="row">
  <div class="col-xs-offset-2 col-xs-6">
    <table class="table datatable">
      <thead>
      <tr>
        <th>Description</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Status</th>
        <th>Company</th>
        <th>Course</th>
        <th>Operating system</th>
        <th>Browser</th>
        <th>Assignee</th>
        <th ></th>
      </tr>
      </thead>

      <tbody>
      <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.description %></td>
            <td><%= ticket.created_at.strftime("%d/%m/%y") %></td>
            <td><%= ticket.user.try(:name) %></td>
            <td>
              <% if can? :manage, Ticket  %>
                  <%= simple_form_for(ticket) do |f| %>
                      <%= f.input :status , :collection => [["Resolved" ,"Resolved"] , ["Unresolved", "Unresolved"]] , label: false %>
                      <%= f.submit %>
                  <% end %>
              <% else  %>
                  <%= ticket.status %>
              <% end  %>

            </td>
            <!--<td><%= ticket.assignee_id %></td>-->
            <td><%= ticket.company %></td>
            <td><%= ticket.course %></td>
            <td><%= ticket.operating_system.try(:name) %></td>
            <td><%= ticket.browser.try(:name) %></td>
            <td>
            <% if can? :manage , Ticket %>

              <%= simple_form_for(ticket , :url => assign_ticket_path(ticket) , :method => :post) do |f| %>
                  <%= f.input :assignee_id , :collection => User.with_all_roles(:support_staff) , label: false %>
                  <%= f.submit %>
              <% end %>
                  <%else %>
              <%= ticket.assignee.try(:name) %>
            <% end %>
            </td>

            <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
            <!--<td><%#= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>




<br>

<%= link_to 'New Ticket', new_ticket_path %>
