<script type="text/javascript">
  $(document).ready(function () {
    $('.date_picker').datepicker({
          format: 'dd/mm/yyyy'
        }
   );
      $('.date_picker').datepicker({dateFormat: 'mm-dd-yyyy'});
      $('.date_picker').datepicker({dateFormat: 'mm-dd-yyyy'});
  });
</script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.datatable').dataTable({
      destroy: true
    });
  });
</script>

<h3 class="text-center"> Tickets</h3>
<div class="row">
  <div class="col-xs-offset-2 col-xs-3">
    <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
<% end %>

    <%= simple_form_for(@filter, :url => filter_tickets_path, :method => :post) do |f| %>
        <%= f.input :from_date, :input_html => {:class => "date_picker form-control"} %><br>
        <%= f.input :to_date, :input_html => {:class => "date_picker form-control"} %>
        <br>
        <div class="text-center">
          <%= f.submit "Filter" , :class => "btn btn-primary" %>
    <% end %>

  </div>
  <br>
</div>
<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <table class="table datatable">
      <thead>
      <tr>
        <th>Description</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Status</th>
        <th>Company</th>
        <th>Course</th>
        <th>Operating system</th>
        <th>Web Browser</th>
        <th>Assignee</th>
        <th>Issue Type</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.description %></td>
            <td><%= ticket.created_at.strftime("%d/%m/%y") %></td>
            <td><%= ticket.user.try(:name) %></td>
            <td>
              <% if can? :manage, Ticket %>
                  <%= simple_form_for(ticket) do |f| %>
                      <%= f.input :status, :collection => [["Resolved", "Resolved"], ["Unresolved", "Unresolved"]], label: false, :input_html => {:class => "form-control"} %>
                      <%= f.submit :Submit, :class => "btn btn-primary" %>
                  <% end %>
              <% else %>
                  <%= ticket.status %>
              <% end %>

            </td>
            <!--<td><%= ticket.assignee_id %></td>-->
            <td><%= ticket.company %></td>
            <td><%= ticket.course %></td>
            <td><%= ticket.operating_system.try(:name) %></td>
            <td><%= ticket.browser_id %></td>
            <td>
              <% if can? :manage, Ticket %>

                  <%= simple_form_for(ticket, :url => assign_ticket_path(ticket), :method => :post) do |f| %>
                      <%= f.input :assignee_id, :collection => User.with_all_roles(:support_staff), label: false, :input_html => {:class => "form-control"} %>
                      <%= f.submit :Submit, :class => "btn btn-primary" %>
                  <% end %>
              <% else %>
                  <%= ticket.assignee.try(:name) %>
              <% end %>
            </td>
            <td>
              <%= ticket.ticket_type %>
            </td>

            <td><%= link_to  edit_ticket_path(ticket)  do %>
                  <span class="fa fa-edit"></span>
              <% end %></td>
            <!--<td><%#= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to 'New Ticket', new_ticket_path , :class => "btn btn-default"%>
  </div>
</div>


